<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257385727732-5d8b7lbej9uhs613n11nh7qlocjavjup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257385727732-5d8b7lbej9uhs613n11nh7qlocjavjup</string>
	<key>API_KEY</key>
	<string>AIzaSyCTdi96uC2jnnk-AvFy2SfARnQOKf2UqMw</string>
	<key>GCM_SENDER_ID</key>
	<string>257385727732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.feizza615.RecipeBox</string>
	<key>PROJECT_ID</key>
	<string>recipe-box-78594</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-box-78594.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257385727732:ios:3bc736c8ddb10a5bc0c0a1</string>
</dict>
</plist>